.wrapper {
  width: 100%;
  height: 100%;
  padding: var(--mantine-spacing-md);
  border: 1px solid transparent;
  border-radius: var(--mantine-radius-sm);

  &:hover{
    border-color: var(--mantine-color-blue-4);
    background-color: var(--mantine-color-blue-0);
  }

  &[data-selected="true"]{
    border-color: var(--mantine-color-blue-4);
    background-color: var(--mantine-color-blue-0);
  }
}