.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: var(--mantine-spacing-md);
    border: 1px solid transparent;
    border-radius: var(--mantine-radius-sm);
  
    &:hover {
      border-color: var(--mantine-color-blue-4);
      background-color: var(--mantine-color-blue-0);
    }
  
    &[data-selected="true"]{
      border-color: var(--mantine-color-blue-4);
      background-color: var(--mantine-color-blue-0);
    }
  
    &[data-dragging="true"]{
      opacity: 0.5;
      border-color: var(--mantine-color-blue-4);
      background-color: var(--mantine-color-blue-0);
    }
  }

  .content{
    display: block;
  }
  
  .actions{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
  
    &[data-is-hidden="false"]{
      opacity: 1;
      visibility: visible;
    }
    
  }

  .wrapper:hover .actions {
    opacity: 1;
    visibility: visible;
  }