.wrapper{
    width: 100%;
    cursor: pointer;
    padding: var(--mantine-spacing-xs);
    border-radius: var(--mantine-radius-sm);
    border: 1px solid var(--mantine-color-gray-3);
    transition: border-color 0.2s ease-in-out;
    user-select: none;

    &[data-dragging="true"] {
        border-color: var(--mantine-color-blue-5);
        opacity: 0.5;
    }

    &:hover {
        border-color: var(--mantine-color-blue-5);
    }
}