.emptyDropzone {
    position: relative;
    border: 1px dashed var(--mantine-color-gray-4);
    border-radius: 4px;
    background-color: var(--mantine-color-gray-0);
    transition: all 0.3s ease;

    &[data-drag-over="true"] {
        background-color: var(--mantine-color-blue-1);
        border-color: var(--mantine-color-blue-4);
    }
}